.search-page-container{
    width: 60% !important;
}
.search-head{
    width: 90%;
    margin-left: 10%;
    margin-top: 2.2%;
}

.active-type{
    background-color: rgb(36, 240, 111);
}
.nothing-found{
    color: white;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

